/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.navlogo
{
    text-align: left;
}
.navtitle h1
{
    text-align: right;
}
.navmenu
{
    flex-direction: row;
    justify-content: end;

}
.navmenu a
{
    background-color: transparent;
    padding: 5px 10px;
    margin: 20px 0px;
    font-size: 1rem;
    transition: 0.2s;
}

.aboutmeimg
{
    margin-top: 100px;

}
.aboutmeimg img
{
    height: 250px;
    width: 250px;

}
.aboutmedetails p{
    text-align: left;
}

.contactsec::after
{
    display: table;
    content: ' ';
    clear: both;
}

.fooytermenu
{
    margin-top: 12px;
    
}
.footermenu a
{
    display: inline;
    margin: 10px;
}

.footermenu a:hover
{
    background-color: gray;
    border-radius: 50px;
}
